@font-face {
    font-family: 'promixanova light';
    src: url('/proximanova light.otf') format('opentype');
}

@font-face {
    font-family: 'promixanova regular';
    src: url('./proximanova regular.ttf') format('truetype');
}

@font-face {
    font-family: 'promixanova bold';
    src: url('./proximanova bold.otf') format('opentype');
}
