.large-text-hero {
    font-family: proximanova bold;
}

.small-text-hero {
    font-family: proximanova regular;
}

.buttons-hero {
    font-family: proximanova bold;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
    background-color: #C4DAD2;
    transition: background-color 0.3s ease;
}

.buttons-hero:hover {
    background-color: #9db1a9;
}

.buttons-hero-about {
    font-family: proximanova bold;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
    background-color: #E9EFEC;
    transition: background-color 0.3s ease;
}

.buttons-hero-about:hover {
    background: #c2c9c6;
}

@media (max-width: 600px) {
    .large-text-hero {
        font-size: 1.5rem; 
        line-height: 2rem;
    }
}

@media (max-width: 960px) {
    .large-text-hero {
      font-size: 1.25rem; 
      line-height: 1.75rem;
    }
    
    .small-text-hero {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  
    .buttons-hero, .buttons-hero-about {
      padding: 15px 20px 15px 20px; 
    }
  }